<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate</title>
    <script>
        function copyLink() {
            const link = window.location.href;
            navigator.clipboard.writeText(link)
        }
    </script>
</head>
<body>
    {% if code64 != None %}
        <img src="{{ url_for('static', filename=img_path) }}" width="256" height="256">
        <form action="{{code_64}}">
            <button type="submit">
                ПОЛУЧИТЬ КОШКО ЖЕНА
            </button>
        </form>
        <button onclick="copyLink()">Скопировать ссылку</button>
        <a id="downloadLink" href="{{ url_for('static', filename=img_path) }}" download=img_path>
            <button>Скачать изображение</button>
        </a>

        <script>
            const downloadLink = document.getElementById('downloadLink');
            const img = document.getElementById('imageToDownload');

        </script>
    {% else %}
        <img src="{{ url_for('static', filename='base.png') }}" width="256" height="256">
        <form action="{{code_64}}">
            <button type="submit">
                ПОЛУЧИТЬ КОШКО ЖЕНА
            </button>
        </form>
    {% endif %}
</body>
</html>
